.product-container {
    display: flex;
    background-color: var(--card-background);
    border-radius: 16px;
}

.img-container, .detail-container {
    padding: 20px;
}

.product-title {
    font-weight: 900;
    font-size: 3rem;
}

.product-brand {
    font-size: 2rem;
    font-weight: 700;
}

.price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 2.5rem;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

.btns-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

:host ::ng-deep .dialog-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

