.product-container {
    display: flex;
    background-color: var(--card-background);
    border-radius: 16px;
}

.img-container, .detail-container {
    padding: 20px;
}

.product-title {
    font-weight: 900;
    font-size: 3rem;
}

.product-brand {
    font-size: 2rem;
    font-weight: 700;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

.action-btns {
    margin: 40px 0;
}

.price {
    margin-top: 20px;
    font-weight: 500;
    font-size: 2.5rem;
}

.offer {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-offer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-offer label {
    color: var(--card-background);
    font-weight: 700;
}

input {
    border: none;
    border-radius: 16px;
    padding: 10px;
}

.offer-btns {
    display: flex;
    margin: 10px 0;
    gap: 10px;
}

.btn-cancel {
    background-color: var(--cancel-color);
}

.btn-cancel:hover{
    background-color: var(--card-background);
    color: var(--cancel-color);
    border: 2px solid var(--cancel-color);
}

:host ::ng-deep .dialog-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

