.container {
    display: flex;
    flex-grow: 1;
    background-color: transparent;
}

.categories-container {
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    flex-basis: 50%;
    gap: 20px;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    gap: 16px;
    justify-content: center;
    width: fit-content;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--card-background);
    border-radius: 16px;
    font-size: 22px;
    height: 300px;
    width: 320px;
}

img {
    height: 15vh;
    width: auto;
    object-fit: cover;
}

.action-btns {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

button {
    border: none;
}