 span {
    font-weight: 700;
 }
 
 .form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
 }

.card {
    width: fit-content;
    margin: auto;
}

 .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

 .forgot-password {
    display: flex;
    justify-content: flex-end;
 }

 .sign-in-btn {
    width: 100%;
 }