<!--
<div class="container form-container">    
    <h2>Iniciar sesion</h2>
    <form [formGroup]="formSignIn" (ngSubmit)="handleSubmit()">
        <div class="form-field">
            <label for="email">Email: </label>
            @if (email.invalid && email.touched) {
                <span class="errorMessageForm">No puede estar vacio</span>
            }
            <input type="text" name="email" id="email" formControlName="email">
        </div>
        <div class="form-field">
            <label for="password">Contraseña: </label>
            @if (password.invalid && password.touched) {
                <span class="errorMessageForm">No puede estar vacio</span>
            }
            <input type="password" name="password" id="password" formControlName="password">
        </div>
        <div class="registrarseField">
            <span>¿No tiene una nueva? <a routerLink="/sign-up">Unirse</a></span>
        </div>
        <div class="action-btns">
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </div>
    </form>
</div>
-->

<p-card class="card">
    <div class="card-container">
        <h2>Bienvenido!</h2>
        <form [formGroup]="formSignIn" (ngSubmit)="handleSubmit()" class="form-container">
            <div class="form-inputs">
                <p-floatlabel variant="in">
                    <input name="email" id="email" pInputText formControlName="email" />
                    <label for="email">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="in">
                    <p-password formControlName="password" inputId="in_label" />
                    <label for="in_label">Password</label>
                </p-floatlabel>
                <div class="forgot-password">
                    <p-button label="Olvido su contraseña?" link size="small"/>
                </div>
            </div>
            <p-button label="Iniciar sesion" [style]="{'width': '100%'}" />
        </form>
        <p-divider />
        <h3>Todavia no te registraste?</h3>
        <p>Hazlo ahora, es <span>gratis!</span></p>
        <p-button label="Registrarse" link size="large"/>
    </div>
</p-card>