 .form-container{
    border: 1px solid black;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 50vh;
    background-color: var(--container-color);

    .form-field{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 8px;
    }
 }