<div class="container form-container">    
    <h2>Iniciar sesion</h2>
    <form [formGroup]="formSignIn" (ngSubmit)="handleSubmit()">
        <div class="form-field">
            <label for="email">Email: </label>
            @if (email.invalid && email.touched) {
                <span class="errorMessageForm">No puede estar vacio</span>
            }
            <input type="text" name="email" id="email" formControlName="email">
        </div>
        <div class="form-field">
            <label for="password">Contraseña: </label>
            @if (password.invalid && password.touched) {
                <span class="errorMessageForm">No puede estar vacio</span>
            }
            <input type="password" name="password" id="password" formControlName="password">
        </div>

        <div class="action-btns">
            <button (click)="navigateTo()" class="btn btn-primary">Registrarse</button>
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </div>
    </form>
</div>