.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.geton-msg {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    gap: 15px;
}

.welcome-p {
    font-size: 1.5rem;
}

.offer-msg {
    font-weight: 700;
}

.wecolme-msg, .signin-msg{
    text-align: center;
}

.signin-btn {
    border: none;
    text-decoration: underline;
}

.signin-btn:hover{
    cursor: pointer;
}

img {
    height: 18vh;
    width: auto;
    object-fit: cover;
}

.slide-box {
    cursor: pointer;
}