.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.welcome-msg, .geton-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.slide-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: var(--card-background);
    padding: 40px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: 600;
    height: 400px;
}

.signin-msg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signin-btn {
    border: none;
    text-decoration: underline;
}

.signin-btn:hover{
    cursor: pointer;
}

img {
    height: 18vh;
    width: auto;
    object-fit: cover;
}