<!--
<header class="container main-header">
    <div class="header-logo">
        <a routerLink="/"><img src="logo.png" alt="Loki"></a>
    </div>
-->
<!-- type="button" (click)="onSearch(searchInput.value) -->
<!-- (ngSubmit)="onSearch(searchInput.value); $event.preventDefault()"  -->
<!--     <form class="header-search" (ngSubmit)="onSearch(searchInput.value, $event)">
        <input class="search-box" type="text" placeholder="Buscar productos..." #searchInput>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form> -->
<!--
    <div class="header-search-container">
        <app-search-bar (search)="onSearchUpdated($event)"></app-search-bar>
    </div>
    
    <nav class="header-nav">
        <ul class="action-btns">
            @if (isLoggedIn) {
                VISTA DE USUARIO LOGUEADO
                <li>
                    <span class="user-greeting">Hola, {{ currentUser?.username }}</span>
                </li>
                <li>
                    <a routerLink="/dashboard" class="btn btn-secondary">Dashboard</a>
                </li>
                tenemos que agregar un boton o alo para hacer un loggout
                 <li>
                    <button (click)="logout()" class="btn btn-logout" title="Salir">
                        <i-lucide name="log-out" class="icon-sm"></i-lucide>
                    </button>
                </li>
            } @else {
                <li>
                    <a routerLink="/sign-up" class="btn btn-primary">Registrarse</a>
                </li>
                <li>
                    <a routerLink="/sign-in" class="btn btn-primary">Iniciar sesión</a>
                </li>
            }
                <li>
                <a routerLink="/sign-up" class="btn btn-primary">Registrarse</a>
            </li>
            <li>
                <a routerLink="/sign-in" class="btn btn-primary">Iniciar sesion</a>
            </li>
        </ul>
    </nav>
</header>
-->

<p-toolbar class="container main-header">
    <ng-template #start>
        <img src="logo.png" alt="Loki logo" routerLink="/">
    </ng-template>
    <ng-template #center>
        <!--
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" pSize="large"/>
        </p-iconfield>
        -->
        <app-search-bar (search)="onSearchUpdated($event)"></app-search-bar>
    </ng-template>
    <ng-template #end>
        <div class="btn-actions">
            <p-button label="Registrarse" [raised]="true" styleClass="user-btn" routerLink="/sign-up" />
            <p-button label="Iniciar sesion" [raised]="true" styleClass="user-btn" routerLink="/sign-in"/>
        </div>
    </ng-template>
</p-toolbar>