<header class="container main-header">
    <div class="header-logo">
        <img src="logo.png" alt="Loki">
    </div>

    <form class="header-search" (ngSubmit)="onSearch(searchInput.value)">
        <input class="search-box" type="text" placeholder="Buscar productos..." #searchInput>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>

    <nav class="header-nav">
        <ul class="action-btns">
            <li>
                <a routerLink="/sign-up" class="btn btn-primary">Registrarse</a>
            </li>
            <li>
                <a routerLink="/sign-in" class="btn btn-primary">Iniciar sesion</a>
            </li>
        </ul>
    </nav>
</header>