.main-header{
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    padding: 10px;
    background-color: var(--container-color);
    /*border-radius: 16px;*/
/*    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;*/
}

img {
    height: 5vh;
    width: auto;
    object-fit: cover;
    cursor: pointer;
}

.btn-actions {
    display: flex;
    gap: 10px
}

/* .header-search {
    display: flex;
    flex-grow: 1;
    max-width: 500px;
    justify-content: center;
    gap: 10px;
}

.search-box {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 10px;
} */
