.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--card-background);
    border-radius: 16px;
    margin: 20px auto;
}

.header-logo {
    font-family: var(--logo-font);
    font-size: 3rem;
}

.header-logo a {
    text-decoration: none;
    color: var(--primary-color);
}

.header-search {
    display: flex;
    flex-grow: 1;
    max-width: 500px;
    justify-content: center;
    gap: 10px;
}

.search-box {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}