  /* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';

:root{
    /* COLORS */
    /*--primary-color: #5F2ECC;*/
    /*--primary-color: #BE2A80;*/
    /*--primary-color: #8D1D71;*/
    --primary-color: #57155C;
    --font-primary: #2D3748;
    --main-background-color: #E9E9E9;
    --container-color: #FAFAFA;
    --card-background: #FFFFFF;
    --border: #E2E8F0;
    --buy-color: #28A745;
    --offer-color: #D4A017;
    --cancel-color: #EF4444;

    /* FONTS */
    --main-font: 'Inter', sans-serif;
    --logo-font: 'Bebas Neue';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color); 
  font-family: var(--main-font);
  color: var(--font-primary);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

app-header,
app-footer {
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

main {
  flex-grow: 1;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

button:hover{
    cursor: pointer;
}

li {
    list-style: none;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid transparent; 
  transition: all 0.2s ease-in-out;
  color: var(--card-background);
}

.btn:hover{
  background-color: var(--card-background);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-offer {
  background-color: var(--offer-color);
  border-color: var(--offer-color);
}

.btn-offer:hover {

  border-color: var(--offer-color);
  color: var(--offer-color);
}

.btn-buy {
  background-color: var(--buy-color);
  border-color: var(--buy-color);
}

.btn-buy:hover {

  border-color: var(--buy-color);
  color: var(--buy-color);
}

.slide-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: var(--card-background);
    padding: 30px;
    border-radius: 16px;
    font-size: 22px;
    height: auto;
    width: auto;
}

.action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-margin{
  margin-top: 32px;
}

.errorMessageForm{
    color: red;
}