/* You can add global styles to this file, and also import other style files */
:root{
    /* COLORS */
    --primary-color: #5F2ECC;
    --font-primary: #2D3748;
    --main-background-color: #E9E9E9;
    --container-color: #FAFAFA;
    --card-background: #FFFFFF;
    --border: #E2E8F0;

    /* FONTS */
    --main-font: 'Inter', sans-serif;
    --logo-font: 'Bebas Neue';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
}

li {
    list-style: none;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  
  border: 2px solid transparent; 
  
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--main-background-color);
}

.btn-primary:hover {
  background-color: var(--main-background-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}