.form-container{
    text-align: center;
    form{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 3vh auto;
        .form-field{
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
    }
}