.form-container{
    border: 1px solid black;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1000px;
    form{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 4vh;
        .form-field{
            margin: 8px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            gap: 4vh;
        }
    }
}