.form-container{
    background-color: var(--container-color);
    border: 1px solid black;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1000px;
    background-color: var(--container-color);
    form{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 4vh;
        .form-field{
            margin: 4px;
            display: flex;
            justify-content:space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: 2vh;
            
            select{
                text-align: center;
                padding: 4px 4px 4px 0;
                border: 2px solid black;
                border-radius: 16px;
                width: 100%;
            }
            input{
                text-align: center;
                padding: 4px 4px 4px 0;
                border: 2px solid black;
                border-radius: 16px;
                width: 100%;
            }
        }
    }
}